
name: first-workflow

on: push

jobs:
    first-job:
        runs-on: ubuntu-latest
        steps:
            - name: Check out repositroy
              uses: actions/checkout@v2

            - name: Mutli-line command execution
              run: |
               echo "haii,madhav";
               ls -ltra
    
             
            - name: Installing Nginx
              run: sudo apt-get install nginx -y

            - name: check the status of nginx
              run: sudo systemctl status nginx