
name: first-workflow

on: push

jobs:
    first-job:
        runs-on: ubuntu-latest
        steps:
            - name: Check out repositroy
              uses: actions/checkout@v2

            - name: Mutli-line command execution
              run: |
               echo "haii,madhav";
               ls -ltra
               
            - name: Executing shell script
              run:  |
                chmod +x ./shell-script.sh
                ./shell-script.sh
                