name: pipeline

on: 
  push:
  workflow_dispatch:
  # schedule:
    # - cron: '*/1 * * * *'  
 # push

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - name: Check out repositroy
          uses: actions/checkout@v4

        - name: Mutli-line command execution
          run: |
            echo "haii,madhav";
            ls -ltra
        - name: upload artifact
          uses: actions/upload-artifact@v4
          with:
            name: my-artifact-dwld
            path: .github/workflows/pipline.yaml
    test_job:
        needs: build
        runs-on: ubuntu-latest
        steps:
        - name: Upload Artifact
          uses: actions/download-artifact@v4
          with:
            name: my-artifact-dwld
    deploy:
        needs: test_job
        matrix:
          os: ["ubuntu-latest,ubuntu-20.04,macos-latest"]
          images: ["alpine","ubuntu"]
        runs-on: ${{ matrix.os }}
        steps:
          - name: Echo Docker Details
            run: docker info

          - name: Run Images
            run: docker run hello-world
